@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;400;700&family=Roboto:wght@100;300;400&display=swap");
.right .col, .right .container, .left .container, .left {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left h1 {
  color: #e9e6c9;
  font-size: 3.5rem;
  font-family: "Azeret Mono", monospace;
  font-weight: 500;
}

.right, .left {
  flex: 1 1 650px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.right .row-2, .right .row {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.75em;
}

.right i {
  color: #566683;
  transition: 0.25s ease-in-out;
  font-size: 3.5rem;
}
.right i:hover {
  color: #ca6144;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(163deg, #566683 8%, #ca6144 100%);
}

.wrapper {
  width: 95%;
  padding: 2.5vh 0;
  display: flex;
  flex-wrap: wrap;
}

body {
  overscroll-behavior: none;
}

.left {
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom-left-radius: 5vw;
  border-top-left-radius: 20vw;
}
.left h2 {
  color: #d3cd93;
  font-size: 2.97rem;
  font-weight: 200;
  text-shadow: 2px 2px 4px #566683;
}
.left h1 {
  text-shadow: -2px -2px 4px #566683;
}
.left h2 {
  margin-top: -0.4em;
}
.left .traits {
  font-size: 1.5rem;
  color: #aab5c8;
}
.left .container {
  align-items: center;
}

.right {
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  min-height: 90vh;
  color: #d07258;
}
.right .container {
  height: 100%;
  justify-content: center;
}
.right .summary {
  line-height: 2em;
  font-size: 1.5rem;
}
.right h2 {
  color: #566683;
  font-size: 2rem;
  font-family: "Azeret Mono", monospace;
}
.right .row {
  justify-content: space-between;
}
.right .accent {
  color: #6d7f9f;
}
.right .row-2 :nth-child(n) {
  flex-basis: 100%;
}
.right .row-2 :first-child {
  min-width: 216px;
}
.right h3 {
  color: #d07258;
}
.right .no-top {
  padding-top: 0;
}

@media screen and (max-width: 1368px) {
  .left {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5vw;
  }

  .right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5vw;
  }
}
@media screen and (max-width: 770px) {
  .left h1 {
    font-size: 2rem;
  }
  .left h2 {
    font-size: 1.7rem;
  }
  .left .traits {
    font-size: 0.8rem;
  }

  .right .row,
.right .row-2 {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
  }
  .right .row .accentMobile,
.right .row-2 .accentMobile {
    color: #6d7f9f;
  }
  .right .summary {
    font-size: 1.2rem;
  }
  .right .icon {
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
