@media screen and(max-width:770px) {
	.left {
		h1 {
			font-size: $font-md;
		}
		h2 {
			font-size: 1.7rem;
		}
		.traits {
			font-size: $font-sm - .7rem;
		}
	}
	.right {
		.row,
		.row-2 {
			font-size: 1rem;
			flex-direction: column;
			align-items: flex-start;
			padding-right: 0;
			.accentMobile {
				color: $accent2;
			}
		}
		.summary {
			font-size: 1.2rem;
		}
		.icon {
			align-self: center;
		}
	}
}
