@import 'defaults.scss';
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;400;700&family=Roboto:wght@100;300;400&display=swap');

$header-font: 'Azeret Mono', monospace;
$body-font: 'Roboto', sans-serif;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

$font-sm: 1.5rem;
$font-md: 2rem;
$font-lg: 3.5rem;

$margin-sm: .5rem;
$margin-md: 1rem;
$margin-lg: 2rem;

$color1: #e9e6c9;
$color2: #566683;
$color3: #ca6144;
$color4: #393e51;

$accent: lighten($color2, 30%);
$accent2: lighten($color2, 10%);

$color1-trans: rgba(255, 255, 255, .7);

$text-shadow: 2px 2px 4px $color2;
$text-shadow2: -2px -2px 4px $color2;

$transition: .25s ease-in-out;

$radius-sm: 10px;
$radius-md: 5vw;
$radius-lg: 20vw;

%flex-col {
	display: flex;
	flex-direction: column;
}
%flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
%hdr {
	color: $color1;
	font-size: $font-lg;
	font-family: $header-font;
	font-weight: 500;
}
%col-init {
	flex: 1 1 650px;
	padding: $padding-sm;
	font-family: $body-font;
	font-size: $font-md - .5rem;
}

@mixin bg($posX: 50%, $posY: 50%) {
	background-color: $color1-trans;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $posX $posY;
}
main {
	min-height: 100vh;
	@extend %flex-row-center;
	background: linear-gradient(163deg, $color2 8%, $color3 100%);
}
.wrapper {
	width: 95%;
	padding: 2.5vh 0;
	display: flex;
	flex-wrap: wrap;
}
.left {
	%subhdr {
		color: darken($color1, 15%);
		font-size: $font-lg - .53rem;
		font-weight: 200;
		text-shadow: $text-shadow;
	}
	@extend %col-init;
	@extend %flex-col;
	justify-content: flex-end;
	align-items: flex-start;
	min-height: 50vh;
	@include bg();
	border-bottom-left-radius: $radius-md;
	border-top-left-radius: $radius-lg;
	h1 {
		@extend %hdr;
		text-shadow: $text-shadow2;
	}
	h2 {
		@extend %subhdr;
		margin-top: -.4em;
	}
	.traits {
		font-size: $font-sm;
		color: $accent;
	}
	.container {
		@extend %flex-col;
		align-items: center;
	}
}
.right {
	@extend %col-init;
	@include bg();
	border-top-right-radius: $radius-md;
	border-bottom-right-radius: $radius-md;
	min-height: 90vh;
	.container {
		height: 100%;
		@extend %flex-col;
		justify-content: center;
	}
	h2 {
		color: $color2;
		font-size: $font-md;
		font-family: $header-font;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-sm;
		gap: .75em;
	}
	.col {
		@extend %flex-col;
	}
	p {
		color: lighten($color3, 5%);
	}
	.accent {
		color: $accent2;
	}
	i {
		color: $color2;
		transition: $transition;
		font-size: $font-lg;
		&:hover {
			color: $color3;
		}
	}
	.summary {
		line-height: 2em;
	}
	.skills {
		justify-content: flex-start;
		p {
			flex-basis: 100%;
			text-align: center;
		}
	}
	.edu {
		@extend .skills;
	}
	h3 {
		color: lighten($color3, 5%);
	}
	.no-top {
		padding-top: 0;
	}
}
@media screen and(max-width: 1368px) {
	.left {
		border-bottom-left-radius: 0;
		border-top-right-radius: $radius-md;
	}
	.right {
		border-top-right-radius: 0;
		border-bottom-left-radius: $radius-md;
	}
}
@media screen and(max-width:770px) {
	.left {
		h1 {
			font-size: $font-md;
		}
		h2 {
			font-size: 1.7rem;
		}
		.traits {
			font-size: $font-sm - .7rem;
		}
	}
	.right {
		.row {
			font-size: 1rem;
			flex-direction: column;
			align-items: flex-start;
			padding-right: 0;
			.accentMobile {
				color: $accent2;
			}
		}
		.icon {
			align-self: center;
		}
	}
}
