@import 'defaults.scss';
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;400;700&family=Roboto:wght@100;300;400&display=swap');

$header-font: 'Azeret Mono', monospace;
$body-font: 'Roboto', sans-serif;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

$font-sm: 1.5rem;
$font-md: 2rem;
$font-lg: 3.5rem;

$margin-sm: .5rem;
$margin-md: 1rem;
$margin-lg: 2rem;

$color1: #e9e6c9;
$color2: #566683;
$color3: #ca6144;
$color4: #393e51;

$color1-trans: rgba(255, 255, 255, .7);

$text-shadow: 2px 2px 4px $color2;

$transition: .25s ease-in-out;

$radius-sm: 10px;
$radius-md: 5vw;
$radius-lg: 20vw;
main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(163deg, $color2 8%, $color3 100%);
}
.wrapper {
	width: 95%;
	padding: 2.5vh 0;
	display: flex;
	flex-wrap: wrap;
}
.left {
	flex: 1 1 650px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding: $padding-sm;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	border-bottom-left-radius: $radius-md;
	border-top-left-radius: $radius-lg;
	min-height: 50vh;
	font-family: $body-font;
	h1 {
		color: $color1;
		font-size: $font-lg;
		font-family: $header-font;
		font-weight: 500;
		text-shadow: -2px -2px 4px $color2;
	}
	span {
		color: darken($color1, 15%);
		font-size: $font-lg - .53rem;
		font-weight: 200;
		margin-top: -.4em;
		margin-left: .8em;
		text-shadow: $text-shadow;
	}
	p {
		color: $color1;
		text-align: center;
		font-size: $font-sm;
		color: lighten($color2, 30%);
	}
	.tag {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.right {
	flex: 1 1 650px;
	background-color: $color1-trans;
	border-top-right-radius: $radius-md;
	border-bottom-right-radius: $radius-md;
	padding: $padding-sm;
	min-height: 90vh;
	font-family: $body-font;
	font-size: $font-md - .5rem;
	h2 {
		color: $color2;
		font-size: $font-md;
		font-family: $header-font;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-sm;
		gap: 1em;
		p {
			color: lighten($color3, 5%);
		}
	}
	.white {
		color: lighten($color1, 15%);
	}
	i {
		color: $color2;
		transition: $transition;
		font-size: $font-lg;
		&:hover {
			color: $color3;
		}
	}
	.col {
		display: flex;
		flex-direction: column;
	}
}
@media screen and(max-width: 1368px) {
	.left {
		border-bottom-left-radius: 0;
		border-top-right-radius: $radius-md;
	}
	.right {
		border-top-right-radius: 0;
		border-bottom-left-radius: $radius-md;
	}
}
@media screen and(max-width:770px) {
	.left {
		h1 {
			font-size: $font-md;
		}
		span {
			font-size: 1.7rem;
		}
		p {
			font-size: $font-sm - .7rem;
		}
	}
	.right {
		.row {
			font-size: 1rem;
			flex-direction: column;
			align-items: flex-start;
			padding-right: 0;
			padding-bottom: 0;
		}
		.icon {
			align-self: center;
		}
	}
}
